{% extends 'base.html' %}
{% block content %}
<h3>Admin Dashboard</h3>
<div class="row">
  <div class="col-md-4"><div class="card p-3">Doctors: {{ doctors }}</div></div>
  <div class="col-md-4"><div class="card p-3">Patients: {{ patients }}</div></div>
  <div class="col-md-4"><div class="card p-3">Appointments: {{ appointments }}</div></div>
</div>
<hr>
<a class="btn btn-primary" href="{{ url_for('main.list_all_doctors') }}">View Doctors</a>
<a class="btn btn-secondary" href="{{ url_for('main.admin_appointments') }}">View Appointments</a>
{% endblock %}
